@media (max-width: 1000px) {
    .menu {
        width: 100%;
    }

    .toggle_button {
        background-color: rgb(255, 115, 0);
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        color: white;
        left: 0;
        border: none;
    }

    .toggle_button:hover {
        cursor: pointer;
        background-color: rgb(255, 72, 0);
    }

    .toggle_div {
        display: block;
    }

    .basket_wrapper {
        padding: 0;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }

    .basket {
        background-color: rgb(255, 255, 255);
        height: 100vh;
        padding-top: 80px;
    }

    .basket.open {
        transform: translateY(94%);
    }
}

@media (max-width: 800px) {
    a button{
        width: 120px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 16px;
    }

    .head_icon img {
        height: 48px !important;
    }

    .head_logo img {
        height: 48px !important;
    }

    .background img{
        height:30vh;
    }

    .headline h1 {
        font-size: 32px;
    }

    #span {
        font-size: 16px;
    }

    #pizzaSelection {
        font-size: 32px;
    }

    .meal h2 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .footer span{
        font-size: 20px;
    }

    .footer a{
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    a button{
        width: 90px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .food_selection {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .plus_btn img{
        height: 32px;
    }
}
