@media (max-width: 1000px) {
    .menu {
        width: 100%;
    }

    .basket_wrapper {
        display: none;
        width: 100vw;
        position: fixed;
        bottom: 10%;
        width: 100%;
        
    }

    .basket {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .toggle_div {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
       
    }

    .toggle_button {
        background-color: red;
        color: white;
        font-weight: 700;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        box-shadow: 5px 5px 10px rgb(63, 63, 63)
    }

    .toggle_button:hover {
        cursor: pointer;
        background-color: rgb(255, 72, 0);
    }

    .visible {
        display: block !important;
    }
}

@media (max-width: 800px) {
    a button{
        width: 120px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 16px;
    }

    .head_icon img {
        height: 48px !important;
    }

    .head_logo img {
        height: 48px !important;
    }

    .background img{
        height:30vh;
    }

    .headline h1 {
        font-size: 32px;
    }

    #span {
        font-size: 16px;
    }

    #pizzaSelection {
        font-size: 32px;
    }

    .meal h2 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }

    .footer span{
        font-size: 20px;
    }

    .footer a{
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    a button{
        width: 90px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .food_selection {
        overflow-x: auto;
        overflow-y: hidden;
        padding-right: 32px;
    }

    .plus_btn img{
        height: 32px;
    }
}
