.head {
    background-color: rgb(255, 128, 0);
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.head_icon img {
    height: 64px;
}

.head_logo img {
    height: 64px;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.content {
    width: calc(100% - 300px);
    padding: 16px;
}

.title {
    display: flex;
    flex-direction: column;
}

.background img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.icon img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    margin: -60px auto 0 auto;
}

.icon {
    margin-bottom: 16px;
}

.headline {
    margin-bottom: 16px;
}

.headline h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

#span {
    font-size: 20px;
    font-weight: 600;
}

hr {
    margin-bottom: 16px;
}

.footer {
    background-color: rgb(255, 128, 0);
    color: white;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a {
    color: white;
}

.meal_card {
    width: 100%;
    border: 2px solid rgb(255, 128, 0);
    box-shadow: 0px 5px 10px rgb(63, 63, 63);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 24px;
}

.meal_card:hover {
    background-color: rgba(255, 128, 0, 0.2);
}

.meal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.meal h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_btn img{
    height: 48px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 100px;
    padding: 0;
    cursor: pointer;
}

#add-btn {
    border: none;
    background-color: white;
    padding: 0;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.description b {
    padding-top: 8px;
}